* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    /* margin-left: 130px; */
    margin: auto;
    position: fixed;
    width: 80%;
    height: 13%;
    background: rgb(177, 54, 54);
    border: 0;
    border-radius: 0 0 5px 5px;
    /* overflow: hidden; */
}

nav .active a {
    font-size: large;
    color: #fff;
    background-color: #4864ec;
    border-radius: 1em;
    /* padding: 10px;
    font-size: 16px;
    line-height: 30px; */

}

nav li a:hover {
    color: #fff;
    background-color: #4864ec;
    border-radius: 1em;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* position: fixed; */
}

nav li {
    margin: 15px;
    margin-top: 20px !important;
    /* display: flex; */
    float: left;
}

nav li a {
    /* -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; */
    font-size: 16px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}

nav img {
    padding: 10px !important;
    margin-right: 40px !important;
}